{$CUSTOM_DOMAIN} {
  encode zstd gzip
  reverse_proxy /api/* api:4000
  reverse_proxy /health api:4000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
